<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h6 style="color: green;bottom: 5px;position: absolute; ">created by thundetech_hub</h6>
</body>

<div class="form-parent">
    <form>
        <h1>THUNDETECH_HUB</h1>
        <h3>LOGIN !</h3>
        <input type="text " name=" " id=" " placeholder="Enter Name " required>

        <input type="number " name=" " id=" " placeholder="Enter number " required>
        <input type="password " name=" " id=" " placeholder="Enter password " required>
        <a href="http://# ">Forgot password</a>
        <button>Submit</button>
    </form>
</div>

<div class="form-paret">
    <form id="fom">
        <h1>THUNDETECH_HUB</h1>

        <input type="text " name=" " id="put" placeholder=" Enter Name " required>

        <input type="number " name=" " id="put" placeholder="Enter number " required>
        <input type="password " name=" " id="put" placeholder="Enter password " required>
        <a href="http://#" id="but">Forgot password</a>
        <button id="ton">Submit</button>
    </form>
</div>


</html>