* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    align-items: center;
}

body {
    background-color: rgba(0, 255, 0, 0.4);
    place-self: center;
}

.load-parent {
    height: 100px;
    width: 300px;
    background-color: green;
    position: relative;
    top: 150px;
}

.load {
    height: 70px;
    width: 220px;
    border: 5px ridge rgba(0, 255, 0, 0.4);
    background-color: white;
    position: absolute;
    left: 15%;
    top: 15%;
    text-align: center;
    transition: 1s ease-in-out;
    justify-content: center;
    z-index: 1;
    box-shadow: 1px 2px 0px 5px rgba(0, 255, 0, 0.1), 2px 1px 4px 6px rgba(0, 255, 0, 0.2);
}

span {
    transform: translateY(10px);
    margin-top: 100px;
}

span::after {
    content: "|";
    transition: all ease-in-out;
    animation: type 5s 1s infinite;
    color: green;
}

a {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 9px;
    border: 1px black solid;
    background-color: gray;
    max-width: max-content;
    color: white;
    margin: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
}

@keyframes type {
    0% {
        content: "< />";
    }
    10% {
        content: "< W/>";
    }
    20% {
        content: "< We/>";
    }
    30% {
        content: "< WEl/>";
    }
    40% {
        content: "< Welc/>";
    }
    50% {
        content: "< Welco/>";
    }
    60% {
        content: "< Welcom/>";
    }
    70% {
        content: "< Welcome/>";
    }
    80% {
        content: "< WEL />";
    }
    90% {
        content: "< COME />";
    }
    100% {
        content: "< Welcome/>";
    }
}