<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="todo-list.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>thundetech_hub</h1>
<div class="todo-parent">
    <h2>to-do list</h2>
    <div class="btn">
        <input type="search" name="" id="" placeholder="Pls add to-do...">
        <button>Add</button>
    </div>
    <ul></ul>
</div>

<marquee behavior="fast" direction="left">
    <h2>Created by thundetech_hub</h2>
</marquee>


<body>
    <script defer src="todo-list.js"></script>

</body>

</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <h1>time clock</h1>
    <div class="time-parent">

        <span></span>

    </div>

    <script src="app.js "></script>
</body>

</html>