@import "tailwindcss";
html,
body {
    margin: 0;
    padding: 0;
    background: #0a0a0a;
    color: #f3f4f6;
    width: 100%;
}

@layer utilities {
    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    .animate-blink {
        animation: blink 0.5s step-end infinite;
    }
    @keyframes loading {
        0% {
            transform: translateX(-100%);
            width: 150px;
            height: 4px;
            content: "thunde";
            color: white;
        }
        100% {
            transform: translateX(250%);
            width: 80px;
            height: 4px;
            content: "thundetech";
            color: white;
            font-size: large;
        }
    }
    .animate-loading-bar {
        animation: loading 0.6s ease-out infinite;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.8s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}